<div ng-hide="loaded" class="preloader">
    <!-- image here via CSS -->
   </div>
   <div ng-show="loaded">
<main class="main">
<div class="col-home"> 
<section class="col-home-bg color">
  <div class=" container">
  <div class="row">
	<h1>Language Slangs!</h1>
   <div class="book"><h2>Slango</h2></div>
	<h2>Define a word! it will take you just a moment!</h2>
	<p>Add your own word to the slango wiki. It maybe considered in the real world!</p>
	</div>
 </div>
 </section>
 </div>

 <div class="container">
  <div class="row home">

    <div class="col-md-3">
     <h2> A</h2>
     <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('a') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>

    </div>
    <div class="col-md-3">
    <h2> B</h2>
    <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('b') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
    <div class="col-md-3">
    <h2> C</h2>
    <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('c') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
    <div class="col-md-3">
    <h2> D</h2>
    <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('d') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
  </div>
   <div class="row home">
    <div class="col-md-3">
     <h2> E</h2>
     <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('e') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
    <div class="col-md-3">
    <h2> F</h2>
    <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('f') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
    <div class="col-md-3">
    <h2> G</h2>
    <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('g') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
    <div class="col-md-3">
    <h2> H</h2>
    <div  ng-repeat="slang in slang.slangs | filter:criteriaMatch('h') | limitTo: 5">
      <h1 class="capitalize home-title"><a ui-sref="slang({sid: slang.slangID, title: (slang.slang | removeSpaces)})">{{slang.slang}}</a></h1>
      <p>{{slang.slangDefine | limitTo:50 }}..</p>
    </div>
    </div>
  </div>
 </div>
</main>
</div>