<main class="main" row>
<div class="col-home"> 
<section class="col-home-bg color">
  <div class=" container">
  <div class="row col-re">
		<h1 class="capitalize">{{slang.title}}</h1>
	</div>
 </div>
 </section>
 </div>
 <div class="container">
 
    <div  class="col-re">
	   <h2>What is the meaning of {{slang.title}}?</h2>
		<p>{{slang.defined}}</p>
	    <h2>How is {{slang.title}} used?</h2>
	    <p>{{slang.slangEx}}</p>
	    <div>
	     <b class="capitalize">Added By <a ui-sref="user({uid: slang.uid, user: slang.username})">{{slang.username}}</a></b>
	    <small>{{slang.date_added | date:'dd-MMM-yy HH:mm'}}</small>
	    </div>

     <div class="comment">
      <div ng-hide="slangoUser">
         To add a comment <a ui-sref="login">Log in</a>
      </div>
      <div class="row" ng-show="slangoUser">
       <div class="col-md-12">
       <form name="form"  novalidate >
          <md-card>
			   <md-input-container>
		       <label for="comment">Comment:</label>
		        <textarea ng-model="comment" id="comment" name="comment" md-autofocus required=""  ng-trim="false"></textarea>
		         <div ng-show="form.$submitted || form.comment.$touched">
		          <span ng-show="form.comment.$error.required">Enter Your Comment.</span>
		        </div>
		         <md-button  type="submit" class="md-raised md-primary pull-right" ng-disabled="form.$invalid" ng-click="createComment()">Add a comment</md-button>
			  </md-input-container>
		   </md-card>
		</form>
		<div ng-show="slang.hideSuccess" class="alert alert-success">
		  {{slang.message}}
		</div>
       </div>
       
      </div> 
    </div>
    </div>
 </div>
 <div class="container col-re">
 <h2>User Comments:</h2>
 <ul class="col-comments">
    <li ng-repeat="comment in slang.comments | orderBy: '-time_date'">
        <div class="capitalize">
          Added By <a ui-sref="user({uid: comment.user_id, user: comment.username})">{{comment.username}}</a>
         </div>
        <div class="small">{{comment.time_date |  date:'dd-MMM-yy HH:mm'}}</div>
         {{comment.comment}}
    </li>
    <li ng-show="!slang.comments.length">No comments Yet!</li>
    </ul>
 </div>
 </main>
