<main class="main main-f" >
  <div class="main-bg">
    <div class="main-bg-overlay">
		<div class="container main-bg-overlay-content">
		<div ng-hide="hideForm" class="listing-cr">
		  <form name="form"  novalidate >
		   
		   <h1>Step 1: Enter Your Slango Account Email</h1>
		  
		  <md-card>
			
		    <md-input-container>
		       <label for="uemail">Email Address:</label>
		        <input type="email"  ng-model="uemail" id="uemail" name="uemail" md-autofocus required="">
		         <div ng-show="form.$submitted || form.uemail.$touched">
		          <span ng-show="form.uemail.$error.required">Enter your email.</span>
		          <span class="error" ng-show="form.uemail.$error.email">This is not a valid email.</span>
		        </div>
		    </md-input-container>
		  </md-card>
		
		  <md-card>
		     <div ng-show="pleasewait" class="text-center">
               <md-progress-linear md-mode="indeterminate"></md-progress-linear>
             </div>
		     <div class="error">{{error}}</div>   
	    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="forgotPass()">Reset My Slango Password</md-button>
	    
	    <h3>
	      Have an account? <a ui-sref="login"> Log In</a>
	    </h3>
		</md-card>
         </form> 
         </div>   
	   
  
	    <div  class="animate-show animate-hide alert alert-success text-center" ng-show="hideForm">
	    <h2>Step 2: Check Your Email For A Link To Reset Your Password!</h2>
	    
	    </div>
	   </div>
  </div>
 </div>
</main>

