<main class="main">
<div class="container col-re">
 <div class="row">
   <div class="col-md-8">
      <h1>Slango Terms Of Use</h1>
      <ol>
       <li>Every morning, when you wake up, brush your teeth.</li>
       <li>Then , wash your face.</li>
       <li>Did you wash your face? Next is to prepare something for breakfast.</li>
       <li>After breakfast, take a shower then you can use slango web service :)</li>
      </ol>
   </div>
   <div class="col-md-4">
   	 <div class="ads-box-s">
   	   <p>Advertise Here</p>
   	   <p>$1000 a year</p>
   	 </div>
   </div>
 </div>
</div>
</main>
